div.DraftEditor-root {
  background-color: #fff;
  min-height: 500px;
  margin-bottom: 36px;
  max-width: 768px;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Merriweather';
}
ul {
  padding-left: 12px;
}
ul li {
  margin-bottom: 8px;
}