div.DraftEditor-root {
  border: 1px solid #ccc;
  background-color: #fff;
  height: 80vh;
  width: 40vw;
  margin: auto;
  overflow-y: auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  padding: 4px;
  height: 100%;
  font-family: 'Palatino';
  font-size: 21px;
}